In [17]:
import math
import warnings

from pandas import ExcelWriter
from pandas import ExcelFile

from IPython.display import display
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import linear_model
#import statsmodels.formula.api as smf
import os

# Display preferences.
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
warnings.filterwarnings(
    action="ignore",
    module="scipy",
    message="^internal gelsd"
)

In [18]:
cwd = os.getcwd()
print(cwd)

os.chdir(r'''C:\Users\wscott\AppData\Local\Programs\Python''')
print(cwd)

C:\Users\wscott\AppData\Local\Programs\Python
C:\Users\wscott\AppData\Local\Programs\Python

In [49]:
df = pd.read_excel('table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls')
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861.000,0.000,0.000,nan,0.000,0.000,0.000,12.000,2.000,10.000,0.000,0.000
1,Addison Town and Village,2577.000,3.000,0.000,nan,0.000,0.000,3.000,24.000,3.000,20.000,1.000,0.000
2,Akron Village,2846.000,3.000,0.000,nan,0.000,0.000,3.000,16.000,1.000,15.000,0.000,0.000
3,Albany,97956.000,791.000,8.000,nan,30.000,227.000,526.000,4090.000,705.000,3243.000,142.000,nan
4,Albion Village,6388.000,23.000,0.000,nan,3.000,4.000,16.000,223.000,53.000,165.000,5.000,nan

In [63]:
df['Murder'] = df.iloc[:,3]
df.head()

,city,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Murder
0,Adams Village,1861.000,0.000,0.000,nan,0.000,0.000,0.000,12.000,2.000,10.000,0.000,0.000,0.000
1,Addison Town and Village,2577.000,3.000,0.000,nan,0.000,0.000,3.000,24.000,3.000,20.000,1.000,0.000,0.000
2,Akron Village,2846.000,3.000,0.000,nan,0.000,0.000,3.000,16.000,1.000,15.000,0.000,0.000,0.000
3,Albany,97956.000,791.000,8.000,nan,30.000,227.000,526.000,4090.000,705.000,3243.000,142.000,nan,8.000
4,Albion Village,6388.000,23.000,0.000,nan,3.000,4.000,16.000,223.000,53.000,165.000,5.000,nan,0.000

,city,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861.000,0.000,0.000,nan,0.000,0.000,0.000,12.000,2.000,10.000,0.000,0.000
1,Addison Town and Village,2577.000,3.000,0.000,nan,0.000,0.000,3.000,24.000,3.000,20.000,1.000,0.000
2,Akron Village,2846.000,3.000,0.000,nan,0.000,0.000,3.000,16.000,1.000,15.000,0.000,0.000
3,Albany,97956.000,791.000,8.000,nan,30.000,227.000,526.000,4090.000,705.000,3243.000,142.000,nan
4,Albion Village,6388.000,23.000,0.000,nan,3.000,4.000,16.000,223.000,53.000,165.000,5.000,nan

In [24]:
df['Population'].describe()

count       348.000
mean      40037.632
std      450037.368
min         526.000
25%        3003.000
50%        7233.500
75%       18427.500
max     8396126.000
Name: Population, dtype: float64

In [64]:
df.Murder.describe()

count   348.000
mean      1.566
std      18.304
min       0.000
25%       0.000
50%       0.000
75%       0.000
max     335.000
Name: Murder, dtype: float64

In [68]:
df.Robbery.describe()

count     348.000
mean       72.902
std      1031.033
min         0.000
25%         0.000
50%         1.000
75%         5.000
max     19170.000
Name: Robbery, dtype: float64

In [72]:
robbery_mask = (df.Robbery>0)
df.Robbery[robbery_mask]

3       227.000
22      101.000
35     1322.000
140     204.000
206     228.000
209     150.000
216   19170.000
218     166.000
272     918.000
285     203.000
310     400.000
315     145.000
321     102.000
346     390.000
Name: Robbery, dtype: float64

In [73]:
murder_mask = (df.Murder>0)
robbery_mask = (df.Robbery>0)

In [74]:
df[murder_mask & robbery_mask]

,city,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Murder
3,Albany,97956.000,791.000,8.000,nan,30.000,227.000,526.000,4090.000,705.000,3243.000,142.000,nan,8.000
7,Amherst Town,118296.000,107.000,1.000,nan,7.000,31.000,68.000,2118.000,204.000,1882.000,32.000,3.000,1.000
14,Auburn,27270.000,96.000,1.000,nan,20.000,22.000,53.000,859.000,132.000,721.000,6.000,nan,1.000
22,Binghamton,46304.000,284.000,3.000,nan,19.000,101.000,161.000,2349.000,525.000,1767.000,57.000,nan,3.000
31,Brighton Town,36689.000,26.000,1.000,nan,2.000,10.000,13.000,793.000,142.000,623.000,28.000,nan,1.000
32,Brockport Village,8284.000,23.000,1.000,nan,1.000,5.000,16.000,165.000,29.000,132.000,4.000,nan,1.000
35,Buffalo,258789.000,3249.000,47.000,nan,145.000,1322.000,1735.000,12491.000,3458.000,8076.000,957.000,nan,47.000
84,East Fishkill Town,29315.000,9.000,1.000,nan,0.000,1.000,7.000,165.000,18.000,141.000,6.000,nan,1.000
88,East Rochester Village,6596.000,8.000,1.000,nan,0.000,3.000,4.000,125.000,25.000,97.000,3.000,nan,1.000
115,Geneva,13194.000,28.000,1.000,nan,4.000,5.000,18.000,343.000,65.000,275.000,3.000,1.000,1.000
127,Greenburgh Town,44787.000,48.000,1.000,nan,5.000,16.000,26.000,578.000,55.000,501.000,22.000,nan,1.000
134,Hamburg Town,45535.000,38.000,1.000,nan,1.000,12.000,24.000,1167.000,134.000,1012.000,21.000,6.000,1.000
140,Hempstead Village,55198.000,433.000,10.000,nan,3.000,204.000,216.000,958.000,206.000,630.000,122.000,2.000,10.000
152,Irondequoit Town,51506.000,93.000,1.000,nan,6.000,51.000,35.000,1353.000,271.000,1049.000,33.000,nan,1.000
155,Johnson City Village,14866.000,69.000,1.000,nan,6.000,20.000,42.000,949.000,111.000,828.000,10.000,nan,1.000
158,Kenmore Village,15256.000,26.000,1.000,nan,2.000,10.000,13.000,220.000,34.000,181.000,5.000,0.000,1.000
161,Kingston,23665.000,74.000,1.000,nan,4.000,25.000,44.000,687.000,112.000,565.000,10.000,1.000,1.000
163,Lackawanna,17965.000,89.000,1.000,nan,13.000,11.000,64.000,533.000,100.000,398.000,35.000,3.000,1.000
195,Middletown,27809.000,114.000,1.000,nan,6.000,47.000,60.000,852.000,136.000,683.000,33.000,4.000,1.000
206,Mount Vernon,68071.000,554.000,2.000,nan,7.000,228.000,317.000,1436.000,317.000,972.000,147.000,nan,2.000
209,Newburgh,28571.000,435.000,5.000,nan,21.000,150.000,259.000,1040.000,304.000,673.000,63.000,15.000,5.000
216,New York,8396126.000,52384.000,335.000,nan,1112.000,19170.000,31767.000,141971.000,16606.000,117931.000,7434.000,nan,335.000
218,Niagara Falls,49574.000,584.000,3.000,nan,12.000,166.000,403.000,2807.000,746.000,1949.000,112.000,22.000,3.000
226,North Tonawanda,31176.000,41.000,1.000,nan,8.000,17.000,15.000,586.000,114.000,455.000,17.000,nan,1.000
240,Oswego City,18139.000,54.000,1.000,nan,3.000,13.000,37.000,630.000,83.000,533.000,14.000,nan,1.000
259,Port Jervis,8689.000,15.000,1.000,nan,3.000,3.000,8.000,284.000,67.000,214.000,3.000,3.000,1.000
262,Poughkeepsie,30778.000,286.000,7.000,nan,16.000,100.000,163.000,787.000,189.000,589.000,9.000,nan,7.000
263,Poughkeepsie Town,43866.000,39.000,1.000,nan,1.000,12.000,25.000,1339.000,125.000,1203.000,11.000,nan,1.000
267,Ramapo Town,87204.000,57.000,2.000,nan,5.000,9.000,41.000,567.000,88.000,466.000,13.000,nan,2.000
272,Rochester,210562.000,2107.000,42.000,nan,92.000,918.000,1055.000,10051.000,2587.000,6855.000,609.000,132.000,42.000
273,Rockville Centre Village,24129.000,22.000,1.000,nan,1.000,11.000,9.000,271.000,30.000,223.000,18.000,0.000,1.000
274,Rome,32557.000,47.000,4.000,nan,0.000,23.000,20.000,662.000,157.000,470.000,35.000,2.000,4.000
276,Rotterdam Town,29146.000,33.000,2.000,nan,4.000,16.000,11.000,829.000,109.000,700.000,20.000,4.000,2.000
281,Saranac Lake Village,5369.000,26.000,1.000,nan,1.000,1.000,23.000,150.000,30.000,115.000,5.000,nan,1.000
282,Saratoga Springs,27081.000,33.000,1.000,nan,3.000,8.000,21.000,642.000,84.000,550.000,8.000,nan,1.000
285,Schenectady,66041.000,607.000,8.000,nan,31.000,203.000,365.000,2800.000,769.000,1878.000,153.000,nan,8.000
288,Scotia Village,7700.000,5.000,1.000,nan,0.000,1.000,3.000,126.000,14.000,112.000,0.000,nan,1.000
298,Sleepy Hollow Village,9996.000,8.000,1.000,nan,0.000,1.000,6.000,58.000,9.000,47.000,2.000,0.000,1.000
305,Spring Valley Village,32288.000,132.000,2.000,nan,9.000,34.000,87.000,404.000,53.000,335.000,16.000,nan,2.000
310,Syracuse,143834.000,1192.000,21.000,nan,75.000,400.000,696.000,6473.000,1781.000,4298.000,394.000,57.000,21.000
314,Tonawanda Town,58082.000,118.000,1.000,nan,5.000,26.000,86.000,1099.000,190.000,882.000,27.000,1.000,1.000
315,Troy,49898.000,371.000,1.000,nan,14.000,145.000,211.000,1985.000,593.000,1305.000,87.000,5.000,1.000
321,Utica,61686.000,361.000,7.000,nan,27.000,102.000,225.000,2528.000,449.000,1997.000,82.000,nan,7.000
323,Walden Village,6887.000,18.000,1.000,nan,2.000,1.000,14.000,142.000,13.000,124.000,5.000,nan,1.000
331,Watervliet,10245.000,26.000,1.000,nan,3.000,11.000,11.000,242.000,58.000,163.000,21.000,nan,1.000
338,West Seneca Town,44821.000,35.000,1.000,nan,1.000,9.000,24.000,896.000,166.000,710.000,20.000,0.000,1.000
340,White Plains,57559.000,78.000,1.000,nan,3.000,28.000,46.000,1232.000,77.000,1134.000,21.000,nan,1.000
346,Yonkers,199134.000,1036.000,6.000,nan,25.000,390.000,615.000,2368.000,470.000,1662.000,236.000,10.000,6.000

In [78]:
df['murder_cat'] = murder_mask
df['robbery_cat'] = robbery_mask

In [81]:
df['Pop_squared'] = np.multiply(df.Population, df.Population)

In [ ]:
Propertycrime = []

In [88]:
#Propertycrime = [df['Population'],df['Pop_squared'],df['murder_cat'],df['robbery_cat']]

In [93]:
regr = linear_model.LinearRegression()
#Y = data['Sales'].values.reshape(-1, 1)
X = df[['Population','Pop_squared','murder_cat','robbery_cat']]
#regr.fit(X, Y)